/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #eeeeee;
  --ion-color-primary-rgb: 238, 238, 238;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d1d1d1;
  --ion-color-primary-tint: #f0f0f0;

  /** secondary **/
  --ion-color-secondary: #d65a31;
  --ion-color-secondary-rgb: 214, 90, 49;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #bc4f2b;
  --ion-color-secondary-tint: #da6b46;

  /** tertiary **/
  --ion-color-tertiary: #393e46;
  --ion-color-tertiary-rgb: 57, 62, 70;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #32373e;
  --ion-color-tertiary-tint: #4d5159;

  /** success **/
  --ion-color-success: #fec7a0;
  --ion-color-success-rgb: 254, 199, 160;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #e0af8d;
  --ion-color-success-tint: #fecdaa;

  /** warning **/
  --ion-color-warning: #ffd369;
  --ion-color-warning-rgb: 255, 211, 105;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ba5c;
  --ion-color-warning-tint: #ffd778;

  /** danger **/
  --ion-color-danger: #ff5f40;
  --ion-color-danger-rgb: 255, 95, 64;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e05438;
  --ion-color-danger-tint: #ff6f53;

  /** dark **/
  --ion-color-dark: #222831;
  --ion-color-dark-rgb: 34, 40, 49;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e232b;
  --ion-color-dark-tint: #383e46;

  /** medium **/
  --ion-color-medium: #393e46;
  --ion-color-medium-rgb: 57, 62, 70;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #32373e;
  --ion-color-medium-tint: #4d5159;

  /** light **/
  --ion-color-light: #6ebfb5;
  --ion-color-light-rgb: 110, 191, 181;
  --ion-color-light-contrast: #b03f04;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #61a89f;
  --ion-color-light-tint: #7dc5bc;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #222831;
    --ion-color-primary-rgb: 34, 40, 49;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1e232b;
    --ion-color-primary-tint: #383e46;

    --ion-color-secondary: #d65a31;
    --ion-color-secondary-rgb: 214, 90, 49;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #bc4f2b;
    --ion-color-secondary-tint: #da6b46;

    --ion-color-tertiary: #393e46;
    --ion-color-tertiary-rgb: 57, 62, 70;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #32373e;
    --ion-color-tertiary-tint: #4d5159;

    --ion-color-success: #fec7a0;
    --ion-color-success-rgb: 254, 199, 160;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #e0af8d;
    --ion-color-success-tint: #fecdaa;

    --ion-color-warning: #ffd369;
    --ion-color-warning-rgb: 255, 211, 105;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ba5c;
    --ion-color-warning-tint: #ffd778;

    --ion-color-danger: #ff5f40;
    --ion-color-danger-rgb: 255, 95, 64;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #e05438;
    --ion-color-danger-tint: #ff6f53;

    --ion-color-dark: #222831;
    --ion-color-dark-rgb: 34, 40, 49;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e232b;
    --ion-color-dark-tint: #383e46;

    --ion-color-medium: #393e46;
    --ion-color-medium-rgb: 57, 62, 70;
    --ion-color-medium-contrast: #fbfbfb;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #32373e;
    --ion-color-medium-tint: #4d5159;

    --ion-color-light: #6ebfb5;
    --ion-color-light-rgb: 110, 191, 181;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #61a89f;
    --ion-color-light-tint: #7dc5bc;
  }
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: #222831;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #393e46;

  --ion-item-background: #393e46;

  --ion-card-background: #1c1c1d;
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body {
  --ion-background-color: #222831;
  --ion-background-color-rgb: 34, 40, 49;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #393e46;

  --ion-tab-bar-background: #393e46;

  --ion-card-background: #1e1e1e;
}
